<Settings>
  <Id>528852c4-b6e4-42ff-bc73-89ea9f3e082e</Id>
  <WindowTop>0</WindowTop>
  <WindowLeft>3830</WindowLeft>
  <WindowWidth>3860</WindowWidth>
  <WindowHeight>1545</WindowHeight>
  <PanelWidth>1377</PanelWidth>
  <LayoutMode>110</LayoutMode>
  <RunAtStartup>0</RunAtStartup>
  <RunMinimized>0</RunMinimized>
  <MinimizeToTray>1</MinimizeToTray>
  <AutoMinimize>1</AutoMinimize>
  <SubmitErrorReports>1</SubmitErrorReports>
  <ConfirmClose>0</ConfirmClose>
  <LanguageDll>English</LanguageDll>
  <PeriodicNewsCheck>0</PeriodicNewsCheck>
  <PeriodicGamesCheck>1</PeriodicGamesCheck>
  <PeriodicSoftwareCheck>1</PeriodicSoftwareCheck>
  <AdvancedExpanded>1</AdvancedExpanded>
  <TitleFilter>0</TitleFilter>
  <GID>0</GID>
  <ExclusiveProfile></ExclusiveProfile>
  <LastProfile>ETS2.xml</LastProfile>
  <NewestNewsVersion>20160211</NewestNewsVersion>
  <NewestGamesListVersion>481</NewestGamesListVersion>
  <NewestSoftwareVersion>5.4.2.27545</NewestSoftwareVersion>
  <Smooth>30</Smooth>
  <Speed>1</Speed>
  <UseNatNetCamera>0</UseNatNetCamera>
  <NoGL>0</NoGL>
  <MirrorCameraView>1</MirrorCameraView>
  <PrecisionSmooth>100</PrecisionSmooth>
  <PrecisionSpeed>1</PrecisionSpeed>
  <Favorite Id="3475"></Favorite>
  <Favorite Id="13602"></Favorite>
  <Favorite Id="7504"></Favorite>
  <Favorite Id="8175"></Favorite>
  <LedsOn>1</LedsOn>
  <LightFiltering>0</LightFiltering>
  <LightFilterThreshold>240</LightFilterThreshold>
  <ObjectType>1</ObjectType>
  <CameraRotation>0</CameraRotation>
  <TrueView>1</TrueView>
  <AnalysisMode>5</AnalysisMode>
  <IRIntensity>0</IRIntensity>
  <LEDIntensity>255</LEDIntensity>
  <Exposure>150</Exposure>
  <TrackClipProLedsOn>1</TrackClipProLedsOn>
  <TrackClipProLightFiltering>1</TrackClipProLightFiltering>
  <TrackClipProFilterThreshold>150</TrackClipProFilterThreshold>
  <Curves>
    <Curve>
      <Name>One:One</Name>
      <Inputs>
        <Val>-50</Val>
        <Val>1</Val>
        <Val>-40</Val>
        <Val>1</Val>
        <Val>-30.817599999999999</Val>
        <Val>1.02</Val>
        <Val>-20</Val>
        <Val>1</Val>
        <Val>-10</Val>
        <Val>1</Val>
        <Val>0</Val>
        <Val>1</Val>
        <Val>10</Val>
        <Val>1</Val>
        <Val>20</Val>
        <Val>1</Val>
        <Val>30</Val>
        <Val>1</Val>
        <Val>40</Val>
        <Val>1</Val>
        <Val>50</Val>
        <Val>1</Val>
      </Inputs>
    </Curve>
    <Curve>
      <Name>Deadzone</Name>
      <Inputs>
        <Val>-49</Val>
        <Val>6</Val>
        <Val>-30</Val>
        <Val>6</Val>
        <Val>-22.485199999999999</Val>
        <Val>6</Val>
        <Val>-6.5088800000000004</Val>
        <Val>3.5897399999999999</Val>
        <Val>-2.4637680053710937</Val>
        <Val>0</Val>
        <Val>0</Val>
        <Val>0</Val>
        <Val>2.4637680053710937</Val>
        <Val>0</Val>
        <Val>6.5088800000000004</Val>
        <Val>3.5897399999999999</Val>
        <Val>22.485199999999999</Val>
        <Val>6</Val>
        <Val>30</Val>
        <Val>6</Val>
        <Val>49</Val>
        <Val>6</Val>
      </Inputs>
    </Curve>
    <Curve>
      <Name>Smooth</Name>
      <Inputs>
        <Val>-49.882899999999999</Val>
        <Val>7.4017799999999996</Val>
        <Val>-33.709499999999998</Val>
        <Val>7.0653300000000003</Val>
        <Val>-21.631499999999999</Val>
        <Val>6.7288899999999998</Val>
        <Val>-13.049799999999999</Val>
        <Val>6.3924399999999997</Val>
        <Val>-5.7393999999999998</Val>
        <Val>4.37378</Val>
        <Val>0</Val>
        <Val>1.34578</Val>
        <Val>5.7393999999999998</Val>
        <Val>4.37378</Val>
        <Val>13.049799999999999</Val>
        <Val>6.3924399999999997</Val>
        <Val>21.631499999999999</Val>
        <Val>6.7288899999999998</Val>
        <Val>33.709499999999998</Val>
        <Val>7.0653300000000003</Val>
        <Val>49.882899999999999</Val>
        <Val>7.4017799999999996</Val>
      </Inputs>
    </Curve>
    <Curve>
      <Name>Fast</Name>
      <Inputs>
        <Val>-49.704099999999997</Val>
        <Val>11</Val>
        <Val>-30</Val>
        <Val>11</Val>
        <Val>-15</Val>
        <Val>11</Val>
        <Val>-8.8405799865722656</Val>
        <Val>10.5</Val>
        <Val>-2</Val>
        <Val>9</Val>
        <Val>0</Val>
        <Val>5</Val>
        <Val>2</Val>
        <Val>9</Val>
        <Val>8.8405799865722656</Val>
        <Val>10.5</Val>
        <Val>15</Val>
        <Val>11</Val>
        <Val>30</Val>
        <Val>11</Val>
        <Val>49.704099999999997</Val>
        <Val>11</Val>
      </Inputs>
    </Curve>
    <Curve>
      <Name>Slow</Name>
      <Inputs>
        <Val>-49</Val>
        <Val>4</Val>
        <Val>-30</Val>
        <Val>4</Val>
        <Val>-15.507247924804687</Val>
        <Val>4</Val>
        <Val>-9.4202880859375</Val>
        <Val>3.6000000000000001</Val>
        <Val>-4.2028999328613281</Val>
        <Val>2</Val>
        <Val>0</Val>
        <Val>1</Val>
        <Val>4.2028999328613281</Val>
        <Val>2</Val>
        <Val>9.4202880859375</Val>
        <Val>3.6000000000000001</Val>
        <Val>15.507247924804687</Val>
        <Val>4</Val>
        <Val>30</Val>
        <Val>4</Val>
        <Val>49</Val>
        <Val>4</Val>
      </Inputs>
    </Curve>
  </Curves>
</Settings>
